@page "/"
 @inject IJSRuntime JsRuntime
<!-- Main -->
<div id="main">
    <!-- Main Content -->
    <div id="main-content">
        <!-- Showcase Carousel Holder -->
        <div id="itemsWrapperLinks">
            <div id="itemsWrapper" class="webgl-fitthumbs fx-one">
                <!-- ClaPat Slider -->
                <div class="clapat-slider-wrapper showcase-carousel">
                    <div class="clapat-slider">
                        <!-- ClaPat Main Slider -->
                        <div class="clapat-slider-viewport">
                            <div class="clapat-slide" data-color="#f33a3a">
                                <div class="slide-inner trigger-item">
                                    <div class="img-mask">
                                        <a class="slide-link"
                                           data-type="page-transition"
                                           href="audio-speaker.html"></a>
                                        <div class="section-image trigger-item-link">
                                            <img src="wp-content/uploads/2023/08/01hero.jpg"
                                                 class="item-image grid__item-img"
                                                 alt="" />
                                        </div>
                                        <img src="wp-content/uploads/2023/08/01hero.jpg"
                                             class="grid__item-img grid__item-img--large"
                                             alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="clapat-slide" data-color="#f33a3a">
                                <div class="slide-inner trigger-item">
                                    <div class="img-mask">
                                        <a class="slide-link"
                                           data-type="page-transition"
                                           href="cast-craft.html"></a>
                                        <div class="section-image trigger-item-link">
                                            <img src="wp-content/uploads/2023/08/02hero.jpg"
                                                 class="item-image grid__item-img"
                                                 alt="" />
                                        </div>
                                        <img src="wp-content/uploads/2023/08/02hero.jpg"
                                             class="grid__item-img grid__item-img--large"
                                             alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="clapat-slide" data-color="#f33a3a">
                                <div class="slide-inner trigger-item">
                                    <div class="img-mask">
                                        <a class="slide-link"
                                           data-type="page-transition"
                                           href="organic-earth.html"></a>
                                        <div class="section-image trigger-item-link">
                                            <img src="wp-content/uploads/2023/08/03hero.jpg"
                                                 class="item-image grid__item-img"
                                                 alt="" />
                                        </div>
                                        <img src="wp-content/uploads/2023/08/03hero.jpg"
                                             class="grid__item-img grid__item-img--large"
                                             alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="clapat-slide" data-color="#f33a3a">
                                <div class="slide-inner trigger-item change-header">
                                    <div class="img-mask">
                                        <a class="slide-link"
                                           data-type="page-transition"
                                           href="libert.html"></a>
                                        <div class="section-image trigger-item-link">
                                            <img src="wp-content/uploads/2023/08/04hero.jpg"
                                                 class="item-image grid__item-img"
                                                 alt="" />
                                        </div>
                                        <img src="wp-content/uploads/2023/08/04hero.jpg"
                                             class="grid__item-img grid__item-img--large"
                                             alt="" />
                                        <div class="hero-video-wrapper">
                                            <video loop muted class="bgvid">
                                                <source src="http://clapat.ro/themes/serano/images/serano.mp4"
                                                        type="video/mp4" />
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clapat-slide" data-color="#f33a3a">
                                <div class="slide-inner trigger-item">
                                    <div class="img-mask">
                                        <a class="slide-link"
                                           data-type="page-transition"
                                           href="urban-art.html"></a>
                                        <div class="section-image trigger-item-link">
                                            <img src="wp-content/uploads/2023/08/05hero.jpg"
                                                 class="item-image grid__item-img"
                                                 alt="" />
                                        </div>
                                        <img src="wp-content/uploads/2023/08/05hero.jpg"
                                             class="grid__item-img grid__item-img--large"
                                             alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="clapat-slide" data-color="#f33a3a">
                                <div class="slide-inner trigger-item">
                                    <div class="img-mask">
                                        <a class="slide-link"
                                           data-type="page-transition"
                                           href="black-tools.html"></a>
                                        <div class="section-image trigger-item-link">
                                            <img src="wp-content/uploads/2023/08/06hero.jpg"
                                                 class="item-image grid__item-img"
                                                 alt="" />
                                        </div>
                                        <img src="wp-content/uploads/2023/08/06hero.jpg"
                                             class="grid__item-img grid__item-img--large"
                                             alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="clapat-slide" data-color="#f33a3a">
                                <div class="slide-inner trigger-item">
                                    <div class="img-mask">
                                        <a class="slide-link"
                                           data-type="page-transition"
                                           href="squeeze.html"></a>
                                        <div class="section-image trigger-item-link">
                                            <img src="wp-content/uploads/2023/08/07hero.jpg"
                                                 class="item-image grid__item-img"
                                                 alt="" />
                                        </div>
                                        <img src="wp-content/uploads/2023/08/07hero.jpg"
                                             class="grid__item-img grid__item-img--large"
                                             alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="clapat-slide" data-color="#f33a3a">
                                <div class="slide-inner trigger-item">
                                    <div class="img-mask">
                                        <a class="slide-link"
                                           data-type="page-transition"
                                           href="green-leafs.html"></a>
                                        <div class="section-image trigger-item-link">
                                            <img src="wp-content/uploads/2023/08/08hero.jpg"
                                                 class="item-image grid__item-img"
                                                 alt="" />
                                        </div>
                                        <img src="wp-content/uploads/2023/08/08hero.jpg"
                                             class="grid__item-img grid__item-img--large"
                                             alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ClaPat Main Slider -->
                        <!-- ClaPat Caption Wrapper -->
                        <div class="clapat-caption-wrapper">
                            <div class="clapat-caption-inner">
                                <!-- ClaPat Sync Slider Large Titles -->
                                <div class="clapat-sync-slider large-titles fadeout-element">
                                    <div class="clapat-sync-slider-wrapper">
                                        <div class="clapat-sync-slider-viewport">
                                            <div class="clapat-sync-slide">
                                                <div class="slide-title">
                                                    <span><span>Audio Speaker</span></span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-title">
                                                    <span><span>Cast Craft</span></span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-title">
                                                    <span><span>Organic Earth</span></span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-title">
                                                    <span><span>Liberty</span></span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-title">
                                                    <span><span>Urban Art</span></span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-title">
                                                    <span><span>Black Tools</span></span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-title">
                                                    <span><span>Squeeze</span></span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-title">
                                                    <span><span>Green Leafs</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ClaPat Sync Slider Large Titles -->
                                <!-- ClaPat Sync Slider Small Titles -->
                                <div class="clapat-sync-slider small-titles fadeout-element">
                                    <div class="clapat-sync-slider-wrapper">
                                        <div class="clapat-sync-slider-viewport">
                                            <div class="clapat-sync-slide">
                                                <div class="slide-subtitle">
                                                    <span>Photo</span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-subtitle">
                                                    <span>Design</span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-subtitle">
                                                    <span>Photo</span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-subtitle">
                                                    <span>Video</span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-subtitle">
                                                    <span>Design</span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-subtitle">
                                                    <span>Design</span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-subtitle">
                                                    <span>Design</span>
                                                </div>
                                            </div>
                                            <div class="clapat-sync-slide">
                                                <div class="slide-subtitle">
                                                    <span>Photo</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ClaPat Sync Slider Small Titles -->
                            </div>
                        </div>
                        <!--/ClaPat Caption Wrapper -->
                    </div>

                    <div class="progress-info fadeout-element">
                        <div class="progress-info-fill">Scroll or Drag</div>
                        <div class="progress-info-fill-2">Scroll or Drag</div>
                    </div>

                    <div class="clapat-pagination fadeout-element"></div>
                </div>
                <!-- /ClaPat Slider -->
            </div>
        </div>
        <!-- /Showcase Carousel Holder -->
    </div>
    <!--/Main Content -->
</div>
<!--/Main -->