@page "/{UserName}"

@if (UserData is not null)
{
    <section class="section  ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-11 m-auto">
                    <!--widget-author-->
                    <div class="widget-author  ">
                        <div class="author-img">
                            <a href="author.html" class="image">
                                <img src="@UserData.ImageUrl" alt="">
                            </a>
                        </div>
                        <div class="author-content">
                            <h6 class="name">@UserData.FullName</h6>
                            @* <div class="btn-link">@@@UserData.UserName</div> *@
                            <div class="social-media">
                                <ul class="list-inline">
                                    @foreach (var item in UserData.Links)
                                    {
                                        <li>
                                            <a href="@item.Link" target="_blank" class="color-@item.Name"><i class="fab fa-@item.Name"></i></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <NavLink href="" class="categorie">
                                Back
                            </NavLink>
                        </div>
                    </div>
                    <!--/-->
                </div>
            </div>
        </div>
    </section>
    <QuotletsList UserName="@UserName" />
}
@code {
    [Parameter]
    public string UserName { get; set; }

    private UserModel? UserData;

    protected override async Task OnParametersSetAsync()
    {
        UserData = await Service.GetUser(UserName);
    }
}
