@inherits LayoutComponentBase
<main>
      <!-- Preloader -->
      <div
        class="preloader-wrap"
        data-firstline="Stay"
        data-secondline="Relaxed"
      >
        <div class="outer">
          <div class="inner">
            <div class="trackbar">
              <div class="preloader-intro">
                <span>Loading</span>
              </div>
              <div class="loadbar"></div>
              <div class="percentage-wrapper">
                <div class="percentage" id="precent"></div>
              </div>
            </div>

            <div class="percentage-intro">Please wait, content is loading</div>
          </div>
        </div>
      </div>
      <!--/Preloader -->

      <!--Cd-main-content -->
      <div class="cd-index cd-main-content">
        <!-- Page Content -->
        <div
          id="page-content"
          class="light-content home page-template page-template-portfolio-carousel-page page-template-portfolio-carousel-page-php page page-id-17 wp-embed-responsive hidden hidden-ball smooth-scroll uppercase-text rounded-borders"
          data-bgcolor="#0c0c0c"
        >
          <!-- Header -->
          <header
            class="invert-header fullscreen-menu"
            data-menucolor="#0c0c0c"
          >
            <div id="header-container">
              <!-- Logo -->
              <div id="logo" class="hide-ball">
                <a
                  class="ajax-link"
                  data-type="page-transition"
                  href="http://clapat-themes.com/wordpress/serano"
                >
                  <img
                    class="black-logo"
                    src="wp-content/themes/serano/images/logo.png"
                    alt="Logo Black"
                  />
                  <img
                    class="white-logo"
                    src="wp-content/themes/serano/images/logo-white.png"
                    alt="Logo White"
                  />
                </a>
              </div>
              <!--/Logo -->

              <nav class="menu-main-menu-container">
                <div class="nav-height">
                  <div class="outer">
                    <div class="inner">
                      <ul
                        id="menu-main-menu"
                        data-breakpoint="10025"
                        class="flexnav menu"
                      >
                        <li
                          id="menu-item-2600"
                          class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2600 link menu-timeline active"
                        >
                          <a href="../serano.html#" class="active"
                            ><div class="before-span">
                              <span data-hover="Portfolio">Portfolio</span>
                            </div></a
                          >
                          <ul class="sub-menu">
                            <li
                              id="menu-item-19"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-17 current_page_item menu-item-19 link active"
                            >
                              <a
                                href="../serano.html"
                                aria-current="page"
                                data-type="page-transition"
                                class="ajax-link active"
                                >Showcase Carousel</a
                              >
                            </li>
                            <li
                              id="menu-item-2599"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2599 link"
                            >
                              <a
                                href="showcase-grid.html"
                                data-type="page-transition"
                                class="ajax-link"
                                >Showcase Grid</a
                              >
                            </li>
                            <li
                              id="menu-item-2598"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2598 link"
                            >
                              <a
                                href="showcase-slider.html"
                                data-type="page-transition"
                                class="ajax-link"
                                >Showcase Slider</a
                              >
                            </li>
                            <li
                              id="menu-item-2597"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2597 link"
                            >
                              <a
                                href="showcase-list.html"
                                data-type="page-transition"
                                class="ajax-link"
                                >Showcase List</a
                              >
                            </li>
                            <li
                              id="menu-item-2596"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2596 link"
                            >
                              <a
                                href="showcase-reverse.html"
                                data-type="page-transition"
                                class="ajax-link"
                                >Showcase Reverse</a
                              >
                            </li>
                            <li
                              id="menu-item-2595"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2595 link"
                            >
                              <a
                                href="showcase-gallery.html"
                                data-type="page-transition"
                                class="ajax-link"
                                >Showcase Gallery</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li
                          id="menu-item-2594"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2594 link menu-timeline"
                        >
                          <a
                            href="about-2.html"
                            data-type="page-transition"
                            class="ajax-link"
                            ><div class="before-span">
                              <span data-hover="About">About</span>
                            </div></a
                          >
                        </li>
                        <li
                          id="menu-item-2583"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2583 link menu-timeline"
                        >
                          <a
                            href="stories.html"
                            data-type="page-transition"
                            class="ajax-link"
                            ><div class="before-span">
                              <span data-hover="Stories">Stories</span>
                            </div></a
                          >
                        </li>
                        <li
                          id="menu-item-2609"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2609 link menu-timeline"
                        >
                          <a
                            href="contact.html"
                            data-type="page-transition"
                            class="ajax-link"
                            ><div class="before-span">
                              <span data-hover="Contact">Contact</span>
                            </div></a
                          >
                        </li>
                        <li
                          id="menu-item-2610"
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2610 link menu-timeline"
                        >
                          <a href="../serano.html#"
                            ><div class="before-span">
                              <span data-hover="More">More</span>
                            </div></a
                          >
                          <ul class="sub-menu">
                            <li
                              id="menu-item-2613"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2613 link"
                            >
                              <a
                                href="typography.html"
                                data-type="page-transition"
                                class="ajax-link"
                                >Typography</a
                              >
                            </li>
                            <li
                              id="menu-item-2612"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2612 link"
                            >
                              <a
                                href="multimedia.html"
                                data-type="page-transition"
                                class="ajax-link"
                                >Multimedia</a
                              >
                            </li>
                            <li
                              id="menu-item-2611"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2611 link"
                            >
                              <a
                                href="shortcodes.html"
                                data-type="page-transition"
                                class="ajax-link"
                                >Shortcodes</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
              <!-- Menu Burger -->
              <div class="button-wrap right menu burger-lines">
                <div class="icon-wrap parallax-wrap">
                  <div class="button-icon parallax-element">
                    <div id="burger-wrapper">
                      <div id="menu-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="button-text sticky right">
                  <span data-hover="Menu">Menu</span>
                </div>
              </div>
              <!--/Menu Burger -->
            </div>
          </header>
          <!--/Header -->

          <div id="content-scroll">
            @Body
                <!-- Footer -->
                <footer class="hidden">
                    <div id="footer-container">
                        <div class="cp-button-prev clapat-button">
                            <div class="icon-wrap-scale">
                                <div class="icon-wrap parallax-wrap">
                                    <div class="button-icon parallax-element">
                                        <i class="fa-solid fa-arrow-left"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="button-text sticky left">
                                <span data-hover="Prev">Prev</span>
                            </div>
                        </div>

                        <div class="cp-button-next clapat-button">
                            <div class="icon-wrap-scale">
                                <div class="icon-wrap parallax-wrap">
                                    <div class="button-icon parallax-element">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="button-text sticky right">
                                <span data-hover="Next">Next</span>
                            </div>
                        </div>
                    </div>
                </footer>
                <!--/Footer -->
            </div>
            <div class="thumb-wrapper">
                <div class="thumb-container">
                    <div class="thumb-page"
                         data-src="http://clapat-themes.com/wordpress/serano/wp-content/uploads/2023/08/01hero.jpg"></div>
                    <div class="thumb-page"
                         data-src="http://clapat-themes.com/wordpress/serano/wp-content/uploads/2023/08/02hero.jpg"></div>
                    <div class="thumb-page"
                         data-src="http://clapat-themes.com/wordpress/serano/wp-content/uploads/2023/08/03hero.jpg"></div>
                    <div class="thumb-page"
                         data-src="http://clapat-themes.com/wordpress/serano/wp-content/uploads/2023/08/04hero.jpg"></div>
                    <div class="thumb-page"
                         data-src="http://clapat-themes.com/wordpress/serano/wp-content/uploads/2023/08/05hero.jpg"></div>
                    <div class="thumb-page"
                         data-src="http://clapat-themes.com/wordpress/serano/wp-content/uploads/2023/08/06hero.jpg"></div>
                    <div class="thumb-page"
                         data-src="http://clapat-themes.com/wordpress/serano/wp-content/uploads/2023/08/07hero.jpg"></div>
                    <div class="thumb-page"
                         data-src="http://clapat-themes.com/wordpress/serano/wp-content/uploads/2023/08/08hero.jpg"></div>
                </div>
            </div>

            <div id="app"></div>
        </div>
        <!--/Page Content -->
    </div>
    <!--/Cd-main-content -->
</main>
<!--/Main -->

<div class="cd-cover-layer"></div>
<div id="magic-cursor">
    <div id="ball">
        <div id="ball-drag-x"></div>
        <div id="ball-drag-y"></div>
        <div id="ball-loader"></div>
    </div>
</div>
<div id="clone-image">
    <div class="hero-translate"></div>
</div>
<div id="rotate-device"></div>