@inherits LayoutComponentBase
<div id="wrapper" class="wrapper">
    <!--loading -->
    @* <div class="loading">
        <div class="circle"></div>
    </div> *@
   
    <main class="main">
        @Body
    </main>

    <!--footer-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <p>© Copyright 2021 <a href="#">AssiaGroupe</a>, All rights reserved.</p>
                    </div>
                    <div class="back">
                        <a href="#" class="back-top">
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--Search-form-->
    <div class="search">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 m-auto col-md-8 col-sm-11">
                    <div class="search-width  text-center">
                        <button type="button" class="close">
                            <i class="fas fa-times"></i>
                        </button>
                        <form class="search-form" action="search-page.html">
                            <input type="search" value="" placeholder="What are you looking for?">
                            <button type="submit" class="search-btn">search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/-->
</div>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>