
/*--------------------------------------------------
	General Styles
---------------------------------------------------*/	
	#app {
		top: 0;
		left: 0;
		position: fixed;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		pointer-events: none;
		opacity:0;
		-webkit-transition: all 0.1s ease-in-out 0.3s;
		transition: all 0.1s ease-in-out 0.3s;
	}
	
	.load-project-thumb #app, .load-project-thumb-with-title #app, .load-project-thumb-with-title-and-scale #app {
		opacity:1;
	}
	
	.grid__item-img--large {
		pointer-events: none;
		position: absolute ;
		opacity: 0;
	}
	
	.grid__item-hidden {
		pointer-events: none;
		position: fixed;
		opacity: 0;
	}
	
	
/*--------------------------------------------------
	Common Slider Styles
---------------------------------------------------*/	
		
	.clapat-slide a {
		height: 0px;		
	}

	.clapat-slider-wrapper {
		width:100%;
		height: 100vh;
		position:relative;	
	}

	.clapat-slider {
		position:absolute;
		left:0;
		top:0;
		padding: 0 42vw 0 42vw;
		display: flex;
		align-items: center;
		height: 100%;
		width:100%;
		user-select: none;
		cursor: grab;
		z-index: 2;
		overflow:hidden;
		box-sizing:border-box;
	}
	
	.clapat-state-dragging .clapat-slider {
		cursor:grabbing;
	}
	
	.clapat-slider-viewport {
		display: flex;
		position: relative;
	}
	
	.clapat-slide {
		overflow: hidden;
		width: 16vw;
		box-sizing:border-box;
	}
	
	.clapat-slide:first-child {
		position: relative;
	}
	
	.clapat-slide:not(:first-child) {
		position: absolute;
		height: 100%;
	}
	
	.slide-inner {
		position: relative;
		overflow: hidden;		
		cursor:pointer;
	}
	
	.clapat-state-dragging .clapat-slider .slide-inner {
		cursor:grabbing;
		pointer-events:none;
	}
	
	.disable-ajaxload .slide-link {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1000;
	}
	
	.img-mask {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top:0;
		left: 0;
		margin: 0 auto;
		box-sizing: border-box;
		z-index: 0;
		overflow:hidden;
		border-radius:0px;		
		-webkit-transition: border-radius 0.4s ease-in-out 0s;
		transition: border-radius 0.4s ease-in-out 0s;
	}
	
	.rounded-borders .img-mask {
		border-radius:8px;	
	}
	
	.rounded-borders .above .img-mask {
		border-radius:0px;
	}
	
	.section-image {
		position:relative;
		display:block;
		width:100%;
		height:100%;
	}
	
	.item-image {
		width:100%;
		height: 100%;
		position:relative;
		display:block;
		z-index:100;	
		object-position: center; 
		object-fit: cover;
	}
	
	.clapat-slider img {
		pointer-events:none;
	}
	
	.clapat-pagination {
		width: 100%;
		max-width:900px;
		height: 40px;
		display: flex;
		justify-content: center;
		position: absolute;
		left:0;
		right:0;
		bottom: 40px;
		margin:auto;
		z-index: 20;
		text-align: center;
		opacity:0;
	}
	
	.clapat-pagination-bullet {
		position:relative;
		width: 40px;
		height: 40px;
		display:inline-flex;
		margin:0;
		cursor:pointer;
	}
	
	.clapat-pagination-bullet .parallax-wrap {
		width: 40px;
		height: 40px;
		display: inline-flex;
		position: relative;
		justify-content: center;
		align-items: center;
		pointer-events: initial;
	}
	
	.clapat-pagination-bullet .parallax-element {
		height: 40px;
		width: 40px;
		text-align: center;
		line-height: 50px;
	}
	
	.cp-button-prev, .cp-button-next {
		float:left;
		pointer-events:initial;
		background-color:#000;
		height: 44px;
		line-height: 44px;
		border-radius: 44px;
		box-sizing:border-box;
		top:18px;
		position: relative;
		cursor:pointer;		
	}
	
	.light-content .cp-button-prev, .light-content .cp-button-next {
		background-color:#fff;
	}
	
	.clapat-button.cp-button-prev, .clapat-button.cp-button-next {
		opacity:0;
	}
	
	.cp-button-next {
		float:right;
	}
	
	.cp-button-prev .icon-wrap-scale, .cp-button-next .icon-wrap-scale {
		transform: scale(0) ;
		-webkit-transform: scale(0);
		display: block;
		position:absolute;
		left:0;
		width: 44px;
		transition: all .3s ease-out;
		height:44px;
	}
	
	.cp-button-next .icon-wrap-scale {
		left:auto;
		right:0;
	}
	
	.cp-button-prev:hover  .icon-wrap-scale, .cp-button-next:hover  .icon-wrap-scale {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	
	.cp-button-prev .icon-wrap, .cp-button-next .icon-wrap {
		width: 36px;
		height: 36px;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		top:4px;
		left:4px;
	}
	
	.cp-button-prev .button-icon, .cp-button-next .button-icon {
		height: 36px;
		width: 36px;
		color: #000;
		text-align: center;
		line-height: 36px;
		font-size: 14px;
		background-color:#fff;
		border-radius:36px;
	}
	
	.light-content .cp-button-prev .button-icon, .light-content .cp-button-next .button-icon {
  		color: #fff;
		background-color:#000;
	}
	
	.cp-button-prev .button-icon i, .cp-button-next .button-icon i {
		height: 36px;
		line-height: 36px;
		width: 36px;
		text-align: center;
	}
	
	.vertical-arrows .cp-button-prev .button-icon i, .vertical-arrows .cp-button-next .button-icon i {
  		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	
	.cp-button-prev .button-text, .cp-button-next .button-text {
		font-weight: 500;
		font-size: 14px;
		line-height: 44px;
		margin: 0;
		overflow: hidden;
		width: auto;
		padding: 0 36px 0 36px;
		color: #fff;
		-webkit-transition:padding .3s ease-out;
		transition: padding .3s ease-out;
	}
	
	.light-content .cp-button-prev .button-text, .light-content .cp-button-next .button-text {
		color:#000;
	}
	
	.cp-button-prev:hover  .button-text {
		padding: 0 36px 0 60px;
	}
	
	.cp-button-next:hover  .button-text {
		padding: 0 60px 0 36px;
	}
	
	.progress-info {
		position:absolute;
		display:flex;
		justify-content: center;
		width:auto;
		margin:0 auto;
		margin-top:50px;
		height:20px;
		line-height:20px;
		font-size:14px;
		left:0;
		right:0;
		z-index:10;
		opacity:0;
	}
	
	.progress-info.hidden {
		display:none;
		visibility:hidden;
	}
	
	footer .progress-info {
		position: relative;
		display: table;
		width: auto;
		margin-top: 30px;
		left: auto;
		right: auto;
		z-index: 10;
		float: right;
	}
	
	.uppercase-text .progress-info {
		text-transform:uppercase;
	}
	
	.progress-info > .progress-info-fill, .progress-info > .progress-info-fill-2 {
		position: relative;
		width:auto;
		-webkit-text-fill-color: rgba(0,0,0,0.1);
		-webkit-background-clip: text;
		background-repeat: no-repeat;
		background-image: linear-gradient(#000, #000);
  		background-size: 0% 100%;
	}
	
	.progress-info > .progress-info-fill-2 {
		position: absolute;
		top: 0px;
		left: auto;
		background-size: 100% 100%;
		background-position: right;
		right: auto;
		margin: auto;
		width: auto;
		display: block;
	}
	
	.light-content .progress-info > .progress-info-fill {
		-webkit-text-fill-color: rgba(255,255,255,0.1);
		background-image: linear-gradient(#fff, #fff);
	}
	
	.light-content .progress-info > .progress-info-fill-2 {
		-webkit-text-fill-color: rgba(255,255,255,0.1);
		background-image: linear-gradient(#fff, #fff);
	}
	
	#filters-wrapper {
		height:44px;
		width:auto;
		background-color:#000;
		display:inline-block;
		margin:0 auto;
		border-radius:44px;
		position:relative;
		left:0;
		right:0;
		margin:0 auto;
		top:18px;
		opacity:0;
	}
	
	.light-content #filters-wrapper {
		background-color:#fff;		
	}
	
	.toggle-filters {
		display:none;
	}
	
	.active-filter-bg {
		position:absolute;
		margin:0px;
		height:44px;
		width:66px;
		background-color:#fff;
		left:0;
		top:0;
		box-sizing:border-box;
		border-radius:36px;
		border: 4px solid #000;		
	}
	
	.light-content .active-filter-bg {
		background-color:#000;
		border: 4px solid #fff;		
	}
	
	#filters {
		height: auto;
		z-index: 15;
		position: relative;
		width: auto;
		display: block;
		padding: 0;
		pointer-events: initial;
		margin: 0;
		mix-blend-mode: difference;
	}
	
	@media all and (min-width: 1025px) {
		.active-filter-bg {
			opacity:1!important;
		}
		
		.active-filter-bg {
			opacity:1!important;
		}
		
		#filters {
			opacity:1!important;
			height: auto!important;
			display: block!important;
		}
	}
	
	#filters li {
		display: block;
		opacity: 1;
		position: relative;
		box-sizing:border-box;
		margin:0;
		padding:0;
		text-align: left;
		overflow: hidden;
		float: left;
	}
	
	#filters li a {
		display: block;		
		color: #fff;
		font-weight: 500;
		font-size:14px;
		line-height: 20px;
		z-index: 15;
		opacity: 1;
		padding: 12px 20px;
		position: relative;
		mix-blend-mode: difference;
		-webkit-transition: color 0.15s ease-in-out, padding 0.25s ease-in-out;
		transition: color 0.15s ease-in-out, padding 0.25s ease-in-out;
	}
	
	#filters li:first-child a {
		padding-left:25px;
		transform: translateX(-2px);
	}
	
	#filters li:last-child a {
		padding-right:25px;
		transform: translateX(2px);
	}
	
	.uppercase-text #filters li a {
		text-transform:uppercase;
	}
	
	#close-filters {
		position: fixed;
		display:none;
		height:100vh;
		width:100vw;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	
	
/*--------------------------------------------------
	Showcase Carousel
---------------------------------------------------*/
	
	.show-loader .showcase-carousel .clapat-slider {
		pointer-events:none;
	}
	
	.showcase-carousel .clapat-slider {
		padding: 0 25vw 0 25vw;
	}
	
	.showcase-carousel .clapat-slide {
		width: 50vw;
		padding:0px 40px;
		overflow:visible;
	}
	
	.showcase-carousel .slide-inner {
		height: auto;
		width: 100%;
		padding-top: 50%;		
	}
	
	.clapat-caption-wrapper {
		position:absolute;
		width: 100vw;
		height: 100%;
		left: 0;
		right:0;
		margin:0 auto;
		top: 0;
		box-sizing: border-box;
		display: table;
		pointer-events:none;
	}
	
	.clapat-caption-inner {
		position:relative;
		width: 100%;
		height: 100%;
		padding-top:27vw;
		padding-bottom:20px;
		vertical-align: middle;
		box-sizing: border-box;
		display: table-cell;
	}
	
	.clapat-sync-slider.large-titles {
		position: relative;
		overflow: hidden;
		pointer-events: none;
		z-index: 3;
		opacity:1;
		height:6vw;
		width:100%;
		margin-bottom:10px;
		mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);
  		-webkit-mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);	
	}
	
	.large-titles .clapat-sync-slider-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.large-titles .clapat-sync-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		height:inherit;
	}
	
	.large-titles .slide-title {
		font-size: 5vw;
		line-height:6vw;
		font-weight: 500;
		color: #000;
	}
	
	.light-content .large-titles .slide-title {
		color: #fff;
	}
	
	.large-titles .slide-title span {
		display:block;
		position:relative;
	}
	
	.clapat-sync-slider.small-titles {
		position: relative;
		overflow: hidden;
		pointer-events: none;
		z-index: 3;
		opacity:1;
		width:100%;
		height:30px;
		mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);
  		-webkit-mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);
	}
	
	.small-titles .clapat-sync-slider-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.small-titles .clapat-sync-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		height:30px;		
	}
	
	.small-titles .slide-subtitle {
		font-size: 14px;
		line-height:30px;
		font-weight: 400;
		color: #000;
	}
	
	.light-content .small-titles .slide-subtitle {
		color: #fff;
	}
	
	.small-titles .slide-subtitle span {
		display:block;
		position:relative;
	}
	
	.uppercase-text .clapat-sync-slide {
		text-transform:uppercase;
	}
	
	
/*--------------------------------------------------
	Showcase Portfolio
---------------------------------------------------*/
	
	.show-loader .showcase-portfolio .clapat-slider {
		pointer-events:none;
	}
	
	.showcase-portfolio {
		mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);
  		-webkit-mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);
	}
	
	.showcase-portfolio .clapat-slider {
		padding: 0 0vw 0 0vw;
	}
	
	.showcase-portfolio .clapat-slide {
		width: 100vw;
		height:calc(100vh - 40px);
		box-sizing:border-box;
		padding:0 40px;
		display: flex;
		justify-content: space-between;
	}
	
	.showcase-portfolio .slide-inner {
		padding-top: 0;
		width: calc(100% - 80px);
		height: calc(100% - 80px);
		margin:40px 40px;
		border-radius:0px;
		-webkit-transition: border-radius 0.5s ease-in-out 0s;
		transition: border-radius 0.5s ease-in-out 0s;
	}
	
	.showcase-portfolio .hero-intro .slide-inner {
		opacity:0;
	}
	
	.showcase-portfolio .slide-inner.disabled {
		pointer-events:none;
	}
	
	.showcase-portfolio  .slide-inner.above {
		border-radius:0px;
	}
	
	.showcase-portfolio .slide-inner.large-size {
		width: calc(50% - 80px);
		height: calc(100% - 80px);
	}
	
	.showcase-portfolio .slide-inner.medium-size {
		width: calc(50% - 80px);
		height: calc(50% - 80px);
	}
	
	.showcase-portfolio .slide-inner.small-size {
		width: calc(25% - 80px);
		height: calc(50% - 80px);
	}
	
	.showcase-portfolio .space-between {
		justify-content: space-between;
	}
	
	.showcase-portfolio .space-around {
		justify-content: center;
	}
	
	.showcase-portfolio .space-left {
		justify-content: end;
	}
	
	.showcase-portfolio .space-right {
		justify-content: start;
	}
	
	.showcase-portfolio .slide-inner.align-top {
		align-self:start;
	}
	
	.showcase-portfolio .slide-inner.align-center {
		align-self:center;
	}
	
	.showcase-portfolio .slide-inner.align-bottom {
		align-self:end;
	}
	
	.showcase-portfolio .slide-caption {
		z-index: 10;
		position: absolute;
		left:40px;
		bottom: 40px;
		height: calc(100% - 80px);
		width: calc(100% - 80px);
		cursor:default;
		pointer-events: none;
	}
	
	.showcase-portfolio .slide-caption .slide-title {
		font-size: 30px;
		line-height:46px;
		font-weight: 500;
		color: #fff;
		z-index:10;
		position:absolute;
		bottom:0;
		left:0;
		overflow:hidden;
	}
	
	.showcase-portfolio .change-header .slide-caption .slide-title {
		color:#000;
	}
	
	.uppercase-text .showcase-portfolio .slide-caption .slide-title {
		text-transform:uppercase;
		line-height:100%;
	}
	
	.showcase-portfolio .slide-caption .slide-title span {
		display: block;
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		-webkit-transition: all 0.25s ease-out 0s;
		transition: all 0.25s ease-out 0s;	
	}
	
	.showcase-portfolio .slide-inner:hover .slide-caption .slide-title span {
		display: block;
		opacity:1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	
	.showcase-portfolio .slide-caption .slide-cat {
		font-size: 14px;
		line-height:28px;
		font-weight: 500;
		color: #fff;
		z-index:10;
		position:relative;
		overflow:hidden;
	}
	
	.showcase-portfolio .change-header .slide-caption .slide-cat {
		color:#000;
	}
	
	.uppercase-text .showcase-portfolio .slide-caption .slide-cat {
		text-transform:uppercase;
		line-height:100%;
	}
	
	.showcase-portfolio .slide-caption .slide-cat span {
		display: block;
		opacity: 0;
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;	
	}
	
	.showcase-portfolio .slide-inner:hover .slide-caption .slide-cat span {
		display: block;
		opacity:1;
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}
	
	.showcase-portfolio .slide-caption .slide-date {
		font-size: 14px;
		line-height:28px;
		font-weight: 500;
		color: #fff;
		z-index:10;
		position:absolute;
		top:0;
		right:0;
		overflow:hidden;
	}
	
	.showcase-portfolio .change-header .slide-caption .slide-date {
		color:#000;
	}
	
	.uppercase-text .showcase-portfolio .slide-caption .slide-date {
		text-transform:uppercase;
		line-height:100%;
	}
	
	.showcase-portfolio .slide-caption .slide-date span {
		display: block;
		opacity: 0;
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;	
	}
	
	.showcase-portfolio .slide-inner:hover .slide-caption .slide-date span {
		display: block;
		opacity:0.6;
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}
	
	#slide-inner-temporary {
		position:absolute;
		display: table;
		z-index:100;
		height:100%;
		width:100%;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
	
	#slide-inner-caption {
		display:table;
		width: 100%;
		padding-top:20px;
		padding-bottom:20px;
		margin: 0 auto;
		height: 100%;
		position: relative;
		box-sizing: border-box;
	}
	
	.slide-hero-title {
		font-size: 5vw;
		line-height:6vw;
		font-weight: 500;
		color: #000;
		position:relative;
		display:table;
		width:auto;
		margin-bottom:20px;
	}
	
	.light-content .slide-hero-title {
		color: #fff;
	}
	
	.uppercase-text .slide-hero-title {
		text-transform:uppercase;
		line-height:100%;
	}
	
	.text-align-center .slide-hero-title, .text-align-center .slide-hero-title span, .text-align-center .slide-hero-subtitle {
		display:table;
		width:auto;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	.slide-hero-title div {
		overflow:hidden;
	}
	
	.slide-hero-title span {
		display: block;
		opacity:0;
		transform: translateY(150px);
		-webkit-transform: translateY(150px);
		margin-top: 0;
	}
	
	.slide-hero-title div.year-wrapper {
		overflow:hidden;
		position:absolute;
		top:0;
		right:-40px;
		font-size:12px;
		line-height:20px;
	}
	
	.slide-hero-title span.year {
		position:relative;
		font-size:12px;
		line-height:20px;
		transform: translateY(20px);
		-webkit-transform: translateY(20px);
		opacity:0.4;
	}
	
	.inline-title .slide-hero-title span {
		display: inline-table;
	}
	
	.slide-hero-subtitle {
		font-size:14px;
		font-weight: 400;
		color: #000;
		position:relative;
	}
	
	.light-content .slide-hero-subtitle {
		color: #fff;
	}
	
	.uppercase-text .slide-hero-subtitle {
		text-transform:uppercase;
		line-height:110%;
	}
	
	.slide-hero-subtitle div {
		overflow:hidden;
	}
	
	.slide-hero-subtitle span {
		opacity:0;
		display: block;
		transform: translateY(20px);
		-webkit-transform: translateY(20px);
		margin-top: 0;
	}
	
	.inline-title .slide-hero-subtitle span {
		display: inline-table;
	}	
	
	
/*--------------------------------------------------
	Showcase Slider
---------------------------------------------------*/
	
	.show-loader .showcase-slider .clapat-slider {
		pointer-events:none;
	}
	
	.showcase-slider .clapat-slider {
		position:absolute;
		left:0;
		top:0;
		padding: 0 0vw 0 0vw;
		display: flex;
		align-items: center;
		height: 100%;
		width:100%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: -webkit-grab;
		cursor: grab;
		z-index: 2;
		overflow:hidden;
	}
	
	.showcase-slider .clapat-slider-viewport {
		display: flex;
	}
	
	.showcase-slider .clapat-slide {
		overflow: hidden;
		width: 100vw;
		height:100vh;
		box-sizing:border-box;
		padding:0;
	}
	
	.full-slider.showcase-slider .clapat-slide {
		height:100vh;
	}
	
	.showcase-slider .slide-inner {
		position: relative;
		overflow: hidden;
		height: 100%;
		width: 100%;
		padding-top: 0%;
	}
	
	.showcase-slider .img-mask {
		border-radius:0px;
	}
	
	.showcase-slider .large-titles .slide-title, .showcase-slider .small-titles .slide-subtitle	{
		-webkit-transition: color 0.1s ease-in-out 0s;
		transition: color 0.1s ease-in-out 0s;
	}
	
	.showcase-slider .clapat-caption-inner {
		vertical-align: bottom;
		padding-top: 20px;
		padding-bottom: 215px;
	}
	
	
/*--------------------------------------------------
	Showcase Lists
---------------------------------------------------*/
	
	.showcase-lists .clapat-slider {
		padding: 0 0vw 0 0vw;
	}
	
	.showcase-lists {
		mask-image: linear-gradient(#0003, black 7%, black 93%, #0003 100%);
  		-webkit-mask-image: linear-gradient(#0003, black 7%, black 93%, #0003 100%);
	}
	
	.showcase-lists .clapat-slide {
		width: 100vw;
		padding:0px 30px;
		overflow:visible;
		height:6vw;
	}
	
	.showcase-lists .slide-inner {
		padding-top:0;
		width:auto;
		display:table;
		margin:0 auto;
		-webkit-transition: border-radius 0.5s ease-in-out 0s;
		transition: border-radius 0.5s ease-in-out 0s;
	}
	
	.showcase-lists .slide-title {
		display: flex;
		align-items: baseline;
		justify-content: center;
		font-size: 5vw;
		line-height: inherit;
    	height: inherit;
		font-weight: 500;
		color: #fff;
		z-index:10;
		padding:0 20px;
		box-sizing:border-box;
		position:relative;
		-webkit-transition: all 0.1s ease-out 0s;
		transition: all 0.1s ease-out 0s;
	}
	
	.showcase-lists .disable .slide-title {
		opacity:0.1;
	}
	
	.showcase-lists .clapat-sync-slide:hover .slide-title {
		transform: skewX(-7deg);
	}
	
	.showcase-lists .slide-title span {
		transform: translateY(160px);
		-webkit-transform: translateY(160px);
	}
	
	.showcase-lists .clapat-sync-slide .slide-title i {
		top:auto;
		bottom:0;
		-webkit-transform: skewX(7deg) scale(0);
		transform: skewX(7deg) scale(0);
		-webkit-transition: transform 0.15s ease-out 0s;
		transition: transform 0.15s ease-out 0s;
	}
	
	.showcase-lists .clapat-sync-slide:hover .slide-title i {
		-webkit-transform: skewX(7deg) scale(1);
		transform: skewX(7deg) scale(1);
		opacity:1;
	}
	
	.showcase-lists .clapat-sync-slider {
		position: absolute;
		bottom: 0;
		left:0;
		overflow: hidden;
		pointer-events: initial;
		z-index: 3;
		opacity:1;
		height:100vh;
		width:100%;
	}
	
	.clapat-state-dragging .clapat-slider .clapat-sync-slide {
		cursor:grabbing;
		pointer-events:none;
	}
	
	.showcase-lists .clapat-sync-slider-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.showcase-lists .clapat-sync-slide {
		display: table;
		width:auto;
		margin:0 auto;
		line-height:6vw;
		height:6vw;
		font-weight: 500;
		color: #fff;
		z-index: 0;
		position: relative;
	}
	
	.showcase-lists .clapat-sync-slide .hover-reveal {
		position: fixed;
		width: 26vw;
		height: 16vw;
		border-radius:0px;
		overflow:hidden;
		-webkit-transition: border-radius 0.4s ease-in-out 0s;
		transition: border-radius 0.4s ease-in-out 0s;
	}
	
	.rounded-borders .showcase-lists .clapat-sync-slide .hover-reveal {
		border-radius:8px;	
	}
	
	.rounded-borders .showcase-lists .slide-inner.above .hover-reveal {
		border-radius:0px;
	}
	
	
/*--------------------------------------------------
	Showcase Reverse
---------------------------------------------------*/
	
	.show-loader .showcase-reverse .clapat-slider {
		pointer-events:none;
	}
	
	.showcase-reverse {
		mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);
  		-webkit-mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);
	}
	
	.showcase-reverse .clapat-slider {
		padding-left:18vw;
		padding-right:54vw;
	}
	
	.showcase-reverse .clapat-slide {
		width: 28vw;
		height:100vh;
		box-sizing:border-box;
		padding:0px;
		display: flex;
		align-items:center;
		overflow:visible;
	}
	
	.hidden-element {
		opacity:0;
		pointer-events:none;
	}
	
	.clapat-state-dragging .clapat-slider .clapat-slide {
		cursor:grabbing;
		pointer-events:none;
	}
	
	.showcase-reverse .slide-inner {
		width: 100%;
		height:38vw;
		padding-top: 0;
		overflow:visible;
		-webkit-transition: border-radius 0.5s ease-in-out 0s;
		transition: border-radius 0.5s ease-in-out 0s;
	}
	
	.showcase-reverse .slide-inner.disabled {
		pointer-events:none;
	}
	
	.showcase-reverse .slide-inner .trigger-item {
		width: 100%;
		height:100%;
		position:relative;
	}
	
	.showcase-reverse .clapat-sync-slider {
		position: absolute;
		bottom: 0;
		overflow: hidden;
		pointer-events: initial;
		opacity:1;
		height:100vh;
		width: 28vw;
	}
	
	.showcase-reverse .clapat-sync-slide {
		width: 28vw;
		height:100vh;
		box-sizing:border-box;
		padding:0px;
		display: flex;
		align-items:center;
	}
	
	.clapat-state-dragging .clapat-slider .clapat-sync-slide {
		cursor:grabbing;
		pointer-events:none;
	}
	
	.showcase-reverse .clapat-sync-slider {
		left:54vw;
	}
	
	.showcase-reverse .slide-caption {
		z-index: 10;
		position: absolute;
		left:40px;
		bottom: 40px;
		height: calc(100% - 80px);
		width: calc(100% - 80px);
		cursor:default;
		pointer-events: none;
	}
	
	.showcase-reverse .slide-caption .slide-title {
		font-size: 30px;
		line-height:46px;
		font-weight: 500;
		color: #fff;
		z-index:10;
		position:absolute;
		bottom:0;
		left:0;
		overflow:hidden;
	}
	
	.showcase-reverse .change-header .slide-caption .slide-title {
		color:#000;
	}
	
	.uppercase-text .showcase-reverse .slide-caption .slide-title {
		text-transform:uppercase;
		line-height:100%;
	}
	
	.showcase-reverse .slide-caption .slide-title span {
		display: block;
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		-webkit-transition: all 0.25s ease-out 0s;
		transition: all 0.25s ease-out 0s;	
	}
	
	.showcase-reverse .slide-inner:hover .slide-caption .slide-title span {
		display: block;
		opacity:1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	
	.showcase-reverse .slide-caption .slide-cat {
		font-size: 14px;
		line-height:28px;
		font-weight: 500;
		color: #fff;
		z-index:10;
		position:relative;
		overflow:hidden;
	}
	
	.showcase-reverse .change-header .slide-caption .slide-cat {
		color:#000;
	}
	
	.uppercase-text .showcase-reverse .slide-caption .slide-cat {
		text-transform:uppercase;
		line-height:100%;
	}
	
	.showcase-reverse .slide-caption .slide-cat span {
		display: block;
		opacity: 0;
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;	
	}
	
	.showcase-reverse .slide-inner:hover .slide-caption .slide-cat span {
		display: block;
		opacity:1;
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}
	
	.showcase-reverse .slide-caption .slide-date {
		font-size: 14px;
		line-height:28px;
		font-weight: 500;
		color: #fff;
		z-index:10;
		position:absolute;
		top:0;
		right:0;
		overflow:hidden;
	}
	
	.showcase-reverse .change-header .slide-caption .slide-date {
		color:#000;
	}
	
	.uppercase-text .showcase-reverse .slide-caption .slide-date {
		text-transform:uppercase;
		line-height:100%;
	}
	
	.showcase-reverse .slide-caption .slide-date span {
		display: block;
		opacity: 0;
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;	
	}
	
	.showcase-reverse .slide-inner:hover .slide-caption .slide-date span {
		display: block;
		opacity:0.6;
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}
	
	
/*--------------------------------------------------
	Showcase Gallery
---------------------------------------------------*/
	
	.show-loader .showcase-gallery .clapat-slider {
		pointer-events:none;
	}
	
	.showcase-gallery {
		mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);
  		-webkit-mask-image: linear-gradient(#0009, black 7%, black 93%, #0009 100%);
	}
	
	.showcase-gallery .clapat-slider {
		padding: 0 50vw 0 22vw;
	}
	
	.showcase-gallery .clapat-slide {
		width: 28vw;
		height:38vw;
		box-sizing:border-box;
		padding:40px;
		display: flex;
		justify-content: space-between;
		overflow:visible;
	}
	
	.clapat-state-dragging .clapat-slider .clapat-slide {
		cursor:grabbing;
		pointer-events:none;
	}
	
	.showcase-gallery .flip-slide.above {
		z-index:100;
	}
	
	.showcase-gallery .slide-inner {
		width: 100%;
		height:100%;
		padding-top: 0;
		border-radius:0px;
		overflow:visible;
		-webkit-transition: border-radius 0.5s ease-in-out 0s;
		transition: border-radius 0.5s ease-in-out 0s;
	}
	
	.showcase-gallery .flip-slide.disabled {
		pointer-events:none;
	}
	
	.showcase-gallery .slide-inner .trigger-item {
		width: 100%;
		height:100%;
		position:relative;
		pointer-events:none;
	}
	
	.slider-fixed-content .slide-inner .trigger-item {
		width: 100%;
		height:100%;
		position:relative;
	}
	
	.showcase-gallery .clapat-sync-slider {
		position: absolute;
		bottom: 0;
		overflow: hidden;
		pointer-events: initial;
		opacity:1;
		height:100vh;
		width: 28vw;
	}
	
	.showcase-gallery .clapat-sync-slide {
		width: 28vw;
		height:38vw;
		box-sizing:border-box;
		padding:40px;
		display: flex;
		justify-content: space-between;
	}
	
	.clapat-state-dragging .clapat-slider .clapat-sync-slide {
		cursor:grabbing;
		pointer-events:none;
	}	
	
	.showcase-gallery .clapat-sync-slider.sync-one {
		left:-6vw;
	}
	
	.showcase-gallery .clapat-sync-slider.sync-two {
		left:50vw;
	}
	
	.showcase-gallery .clapat-sync-slider.sync-three {
		left:78vw;
	}
	
	.slider-fixed-content {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index:1000;
		pointer-events:none;		
	}
	
	.slider-fixed-content.enable {
		pointer-events:initial;		
	}
	
	.close-thumbnail {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor:pointer;
		z-index:1;
	}
	
	.open-thumbnail {
		position:relative;
		z-index:10;
		margin: 0 auto;
		width: 48vw;
		height: 28vw;		
	}
	
	.open-thumbnail .slide-inner {
		overflow:visible;
		width: 48vw;
		height: 28vw;
	}
	
	.open-thumbnail .img-mask {
		position: relative;
	}
	
	.disable .clapat-slide, .disable .clapat-sync-slider, .disable .clapat-sync-slide, .disable .slide-inner {
		overflow:visible;
	}
	
	.showcase-gallery  .slide-caption, .open-thumbnail .slide-caption {
		z-index: 10;
		position: absolute;
		left:0px;
		bottom: 0;
		height: auto;
		width: 100%;
		box-sizing:border-box;
		padding:30px 20px;
		cursor:default;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		pointer-events:none;
	}
	
	.showcase-gallery .slide-caption .slide-title, .open-thumbnail .slide-caption .slide-title {
		font-size: 30px;
		line-height:46px;
		font-weight: 500;
		text-align:center;
		color:#fff;
		position: relative;
		overflow: hidden;		
	}
	
	.uppercase-text .showcase-gallery .slide-caption .slide-title, .open-thumbnail .slide-caption .slide-title {
		text-transform:uppercase;
		line-height:100%;
	}
	
	.showcase-gallery .slide-caption .slide-title span, .open-thumbnail .slide-caption .slide-title span {
		display: block;
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	
	.showcase-gallery .slide-caption .slide-cat, .open-thumbnail .slide-caption .slide-cat {
		font-size: 14px;
		line-height:28px;
		font-weight: 500;
		text-align:center;
		color: #fff;
		position:relative;
		overflow:hidden;
		margin-top:10px;
	}
	
	.uppercase-text .showcase-gallery .slide-caption .slide-cat, .uppercase-text .open-thumbnail .slide-caption .slide-cat {
		text-transform:uppercase;
		line-height:100%;
	}
	
	.showcase-gallery .slide-caption .slide-cat span, .open-thumbnail .slide-caption .slide-cat span {
		display: block;
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	
	
/*--------------------------------------------------
	16. Responsive
---------------------------------------------------*/	
		
@media only screen and (max-width: 1537px) {
	
}

@media only screen and (max-width: 1466px) {
	
	/* Showcase Elements */
	
	.progress-info {
		margin-top: 40px;
	}
	
	.clapat-pagination {
		bottom: 30px;
	}
	
	/* Showcase Carousel */
	
	.showcase-carousel .clapat-slider {
		padding: 0 26vw 0 26vw;
	}
	
	.showcase-carousel .clapat-slide {
		width: 48vw;
		padding:0px 40px;
	}
	
	.showcase-carousel .slide-inner {
		padding-top: 56%;		
	}
	
	.clapat-caption-inner {
    	padding-top: 29vw;
	}
	
	/* Showcase Slider */
	
	.showcase-slider .clapat-caption-inner {
		padding-bottom: 160px;
	}

}


@media only screen and (max-width: 1024px) {	
	
	/* Showcase Elements */
	
	.progress-info {
		margin-top: 40px;
	}
	
	.clapat-pagination {
		bottom: 30px;
	}
	
	.showcase-footer {
		overflow:visible;
	}
	
	#filters-wrapper {
		height: auto;
		width: 130px;
		border-radius: 18px;
		top: auto;
		bottom: 22px;
		position: fixed;
		overflow:hidden;
		box-sizing:border-box;
		pointer-events:initial
	}
	
	.toggle-filters {
		display: block;
		width: 100%;
		height: 36px;
		position: relative;
		box-sizing:border-box;
		cursor:pointer;
		font-weight: 500;
		font-size:14px;
		line-height: 30px;
		color:#fff;
		border: 4px solid #000;
		background-color: #000;
		border-radius: 36px;
		-webkit-transition: background-color 0.2s ease-out 0s;
		transition: background-color 0.2s ease-out 0s;
	}
	
	.light-content .toggle-filters {
		color:#000;
		background-color: #fff;
		border: 4px solid #fff;
	}
	
	.uppercase-text .toggle-filters {
		text-transform:uppercase;
	}
	
	.on .toggle-filters {
		background-color:#222;
	}
	
	.light-content .on .toggle-filters {
		background-color:#ddd;
	}
	
	.active-filter-bg {
		width:100%!important;
		height: 36px;
		opacity:0;	
	}
	
	#filters {
		height:0;
		opacity:0;
		overflow:hidden;
	}
	
	#filters li {
		float: none;
		text-align:center;
	}
	
	#filters li a {
		line-height: 16px;
		padding: 10px 20px;
	}
	
	#close-filters {
		display:none;
	}
	
	.on #close-filters {
		display:block;
	}
	
	/* Showcase Carousel */
	
	.showcase-carousel .clapat-slider {
		padding: 0 18vw 0 18vw;
	}
	
	.showcase-carousel .clapat-slide {
		width: 64vw;
		padding:0px 30px;
	}
	
	.showcase-carousel .slide-inner {
		padding-top: 56%;		
	}
	
	.clapat-caption-inner {
    	padding-top: 40vw;
	}
	
	.clapat-sync-slider.large-titles {
   		height: 10vw;
	}
	
	.large-titles .slide-title {
		font-size: 9vw;
		line-height: 10vw;
	}
	
	/* Showcase Grid */
	
	.showcase-portfolio .clapat-slide {
		width: 100vw;
		height:100vh;
		box-sizing: border-box;
		padding: 0px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	
	.showcase-portfolio .slide-inner.large-size, .showcase-portfolio .slide-inner.medium-size, .showcase-portfolio .slide-inner.small-size {
		width: calc(100% - 80px);
		height: calc(100% - 80px);
		margin: 20px 40px;
	}
	
	.showcase-portfolio .slide-inner .slide-caption .slide-title span, .showcase-portfolio .slide-inner .slide-caption .slide-cat span {
		opacity:1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	
	.showcase-portfolio .slide-inner .slide-caption .slide-date span {
		opacity:0.6;
	}
	
	.slide-hero-title {
		font-size: 9vw;
		line-height: 10vw;
	}
	
	/* Showcase Lists */	
	
	.showcase-lists .clapat-slide {
		height: 10vw;
	}
	
	.showcase-lists .clapat-sync-slide {
		line-height: 10vw;
		height: 10vw;
	}
	
	.showcase-lists .slide-title {
		font-size: 9vw;
	}
	
	.showcase-lists .clapat-sync-slide .hover-reveal {
		width: 34vw;
		height: 22vw;
	}
	
	/* Showcase Reverse */
	
	.showcase-reverse {
		opacity:0;
	}
	
	.hidden-element {
		opacity: 1;
		pointer-events: none;
	}
	
	.showcase-reverse .clapat-slider {
		padding-left: 40px;
		padding-right: calc(50vw - 20px);
	}
	
	.showcase-reverse .clapat-slide {
    	width: calc(50vw - 60px);
		height: calc(52vw + 40px);
	}
	
	.showcase-reverse .clapat-sync-slider {
		left: calc(50vw + 20px);
		width: calc(50vw - 60px);
	}
	
	.showcase-reverse .clapat-sync-slide {
    	width: calc(50vw - 60px);
		height: calc(52vw + 40px);
	}
	
	.showcase-reverse .slide-inner {
		height: 52vw;
	}
	
	.showcase-reverse .slide-inner .slide-caption .slide-title span, .showcase-reverse .slide-inner .slide-caption .slide-cat span {
		opacity:1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	
	.showcase-reverse .slide-inner .slide-caption .slide-date span {
		opacity:0.6;
	}
	
	/* Showcase Gallery */
	
	.showcase-gallery .clapat-slider {
		padding-left: 40px;
		padding-right: calc(50vw - 20px);
	}
	
	.showcase-gallery .clapat-slide {
    	width: calc(50vw - 60px);
		height: calc(52vw + 40px);
		padding:0;
	}
	
	.showcase-gallery .clapat-sync-slider.sync-one {
		left: calc(50vw + 20px);
		width: calc(50vw - 60px);
	}
	
	.showcase-gallery .clapat-sync-slide {
    	width: calc(50vw - 60px);
		height: calc(52vw + 40px);
		padding:0;
	}
	
	.showcase-gallery .slide-inner {
		height: 52vw;
	}
	
	.open-thumbnail, .open-thumbnail .slide-inner {
		width: 70vw;
		height: 40vw;
	}
	
}


@media only screen and (max-width: 767px) {
	
	/* Showcase Elements */
	
	.progress-info {
		margin-top: 30px;
	}
	
	.clapat-pagination {
		height: 20px;
		bottom: 30px;
	}
	
	.clapat-pagination-bullet {
		width: 20px;
		height: 20px;
	}
	
	.clapat-pagination-bullet .parallax-wrap {
		width: 20px;
		height: 20px;
	}
	
	/* Showcase Carousel */
	
	.showcase-carousel .clapat-slider {
		padding: 0 15vw 0 15vw;
	}
	
	.showcase-carousel .clapat-slide {
		width: 70vw;
		padding:0px 20px;
	}
	
	.showcase-carousel .slide-inner {
		padding-top: 56%;		
	}
	
	.clapat-caption-inner {
    	padding-top: 47vw;
	}
	
	/* Showcase Grid */
	
	.showcase-portfolio .clapat-slide {
		height:100vh;
	}
	
	.showcase-portfolio .slide-inner.large-size, .showcase-portfolio .slide-inner.medium-size, .showcase-portfolio .slide-inner.small-size {
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		margin: 15px 30px;
	}
	
	.showcase-portfolio .slide-caption {
		left: 30px;
		bottom: 30px;
		height: calc(100% - 60px);
		width: calc(100% - 60px);
	}
	
	/* Showcase Lists */
	
	.showcase-lists .clapat-sync-slide .hover-reveal {
		width: 38vw;
		height: 24vw;
	}
	
	/* Showcase Reverse */
	
	.showcase-reverse .clapat-slider {
		padding-left: 30px;
		padding-right: calc(50vw - 15px);
	}
	
	.showcase-reverse .clapat-slide {
    	width: calc(50vw - 45px);
		height: calc(54vw + 30px);
	}
	
	.showcase-reverse .clapat-sync-slider {
		left: calc(50vw + 15px);
		width: calc(50vw - 45px);
	}
	
	.showcase-reverse .clapat-sync-slide {
    	width: calc(50vw - 45px);
		height: calc(54vw + 30px);
	}
	
	.showcase-reverse .slide-inner {
		height: 54vw;
	}
	
	.showcase-reverse .slide-caption {
		left: 20px;
		bottom: 20px;
		height: calc(100% - 40px);
		width: calc(100% - 40px);
	}
	
	.showcase-reverse .slide-caption .slide-title {
    	font-size: 20px;
	}
	
	/* Showcase Gallery */
	
	.showcase-gallery .clapat-slider {
		padding-left: 30px;
		padding-right: calc(50vw - 15px);
	}
	
	.showcase-gallery .clapat-slide {
    	width: calc(50vw - 45px);
		height: calc(54vw + 30px);
		padding:0;
	}
	
	.showcase-gallery .clapat-sync-slider.sync-one {
		left: calc(50vw + 15px);
		width: calc(50vw - 45px);
	}
	
	.showcase-gallery .clapat-sync-slide {
    	width: calc(50vw - 45px);
		height: calc(54vw + 30px);
		padding:0;
	}
	
	.showcase-gallery .slide-inner {
		height: 54vw;
	}
	
	.open-thumbnail, .open-thumbnail .slide-inner {
		width: 80vw;
		height: 46vw;
	}
	
}


@media only screen and (max-width: 479px) {
	
	/* Showcase Elements */
	
	.progress-info {
    	font-size: 12px;
	}
	
	.cp-button-prev .button-icon, .cp-button-next .button-icon {
		color: #fff;
		background-color: #000;
	}
	
	.light-content .cp-button-prev .button-icon, .light-content .cp-button-next .button-icon {
		color: #000;
		background-color: #fff;
	}
	
	.cp-button-prev .icon-wrap-scale, .cp-button-next .icon-wrap-scale {
		transform: scale(1) ;
		-webkit-transform: scale(1);
	}
	
	/* Showcase Carousel */
	
	.showcase-carousel .clapat-slider {
		padding: 0 10vw 0 10vw;
	}
	
	.showcase-carousel .clapat-slide {
		width: 80vw;
		padding:0px 10px;
	}
	
	.showcase-carousel .slide-inner {
		padding-top: 60%;		
	}
	
	.clapat-caption-inner {
    	padding-top: 58vw;
	}
	
	/* Showcase Grid */
	
	.showcase-portfolio .clapat-slide {
		height:100vh;
	}
	
	.showcase-portfolio .slide-inner.large-size, .showcase-portfolio .slide-inner.medium-size, .showcase-portfolio .slide-inner.small-size {
		width: calc(100% - 40px);
		height: calc(100% - 40px);
		margin: 10px 20px;
	}
	
	.showcase-portfolio .slide-caption {
		left: 20px;
		bottom: 20px;
		height: calc(100% - 40px);
		width: calc(100% - 40px);
	}
	
	/* Showcase Lists */
	
	.showcase-lists .clapat-sync-slide .hover-reveal {
		width: 50vw;
		height: 32vw;
	}
	
	/* Showcase Reverse */
	
	.showcase-reverse .clapat-slider {
		padding-left: 20px;
		padding-right: calc(50vw - 10px);
	}
	
	.showcase-reverse .clapat-slide {
    	width: calc(50vw - 30px);
		height: calc(56vw + 20px);
	}
	
	.showcase-reverse .clapat-sync-slider {
		left: calc(50vw + 10px);
		width: calc(50vw - 30px);
	}
	
	.showcase-reverse .clapat-sync-slide {
    	width: calc(50vw - 30px);
		height: calc(56vw + 20px);
	}
	
	.showcase-reverse .slide-inner {
		height: 56vw;
	}
	
	.showcase-reverse .slide-caption {
		left: 20px;
		bottom: 20px;
		height: calc(100% - 40px);
		width: calc(100% - 40px);
	}
	
	.showcase-reverse .slide-caption .slide-title {
    	font-size: 18px;
	}
	
	.showcase-reverse .slide-caption .slide-cat {
		font-size: 12px;
	}
	
	.showcase-reverse .slide-caption .slide-date {
		font-size: 12px;
		position: relative;
		margin-top:5px
	}
	
	/* Showcase Gallery */
	
	.showcase-gallery .clapat-slider {
		padding-left: 20px;
		padding-right: calc(50vw - 10px);
	}
	
	.showcase-gallery .clapat-slide {
    	width: calc(50vw - 30px);
		height: calc(56vw + 20px);
		padding:0;
	}
	
	.showcase-gallery .clapat-sync-slider.sync-one {
		left: calc(50vw + 10px);
		width: calc(50vw - 30px);
	}
	
	.showcase-gallery .clapat-sync-slide {
    	width: calc(50vw - 30px);
		height: calc(56vw + 20px);
		padding:0;
	}
	
	.showcase-gallery .slide-inner {
		height: 56vw;
	}
	
	.open-thumbnail, .open-thumbnail .slide-inner {
		width: calc(100vw - 40px);
		height: 54vw;
	}
	
	
	
}			